<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer details</title>
<link rel="stylesheet" 
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="row">
		   <h1>Customer List</h1>
		</div>
		
		<div class="row">
		<div class="col-lg-3"></div>
		 <a th:href="@{/customers/new}" class="btn btn-primary btn-sm mb-3">Add Customer</a>
		</div>
		<table class="table table-stripped table-bordered">
			<thead class="table-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Actions</th>	
			</tr>
			</thead>
			
			<tbody>
			<tr th:each="customer: ${customers}">
			<td th:text="${customer.FirstName}"></td>
			<td th:text="${customer.LastName}"></td>
			<td th:text="${customer.Address}"></td>
			<td th:text="${customer.City}"></td>
			<td th:text="${customer.State}"></td>
			<td th:text="${customer.Email}"></td>
			<td th:text="${customer.Phone}"></td>
			<td>
			 <a th:href="@{/customers/edit/{Email}(Email=${customer.Email})}"
			 		class="btn btn-primary">Update</a>
			<a th:href="@{/customers/{Email}(Email=${customer.Email})}"
			 		class="btn btn-danger">Delete</a>			
			</tr>
			</tbody>
		</table>
	</div>
</body>
</html>